.container {
  width: 100%;
  height: 100%;
  color: #76777A;

  .reverse-button {
    width: 50px;
    transform: rotate(90deg);
    display: flex;
    align-self: center;
    margin-bottom: 20px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

    .currency-form, .rate-form {
      margin: 20px 0;
      padding: 20px 0;

      mat-form-field {
        color: #76777A;
        width: 300px;
      }

      form {
        display: flex;
        flex-direction: column;
      }

      input {
        color: #76777A;
      }
    }
  }
}
